<h2>Users info</h2>
     <table class="table">
      <tr>
      <th>name</th>
      <th><%= @user.name %></th>
      </tr>

  <!--imageを挿入できるようにimageボタンを作成-->


  <!--introductionが入る-->
      <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
      </tr>
     </table>



